.PageContentDetails {
    justify-content: flex-start;
}

.DataContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px;
}

.Separator {
    flex: 100%;
}

.ActionsContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-bottom: 10px;
}

.StatusContainer {
    text-align: left;
    font-size: 1rem;
}
