.ActionContainer {
    margin: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: calc(100% - 40px);
}

.TableContainer {
    width: 100%;
    overflow-x: auto;
}

.Table {
    width: calc(100% - 40px);
    margin: 20px;
    font-size: 1rem;
}
