.HelpPageContent {
    width: 90%;
    text-align: left;
}

.HelpPageContent code {
    overflow-x: auto;
    display: inline-block;
    width: 100%;
}

.HelpPageContent p code, .HelpPageContent li code {
    display: inline;
}
